<div class="game-screen row">
  <div class="small-12 large-3 columns info-panel">
    <button type="button" class="expanded primary button"><strong><%= t('game.info') %></strong></button>
    <button type="button" class="expanded success button"><%= t('game.question') %> <a class="question_number"><%= question_number current_user.game_session.Score %></a></button>
    <button type="button" class="expanded success button"><%= t('game.score') %> <a class="score"><%= current_user.game_session.Score %></a></button>
    <button type="button" class="expanded success button"><%= t('game.highscore') %><a class="highscore"> <%= current_user.highscore %></a></button>
  </div>
  <div class="small-12 large-9 columns">
    <div class="callout primary question">
      <h6><%= @question %> is equal to <%= @answer.Value %> <%= @unit if @unit != "Unit" %></h6>
    </div>
    <%= @session %>
    <div class="row small-up-4 medium-up-4 large-up-4 options">
      <% @records.each do |r|%>
      <div class="column">
        <%= link_to root_path, data: { method: :post, remote: true, params: { country_id: r.id }.to_param } do %>
          <%= image_tag(r.CountryName.tr(' ', '-'), :alt => r.CountryName, :class => 'flag') %>
          <p class='country_name'> <%= r.CountryName %> </p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
