<h1><%= t('menu.dashboard') %></h1>

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to t('menu.play'), root_path %></li>
    <li>
      <span class="show-for-sr"><%= t('explore.current') %>: </span> <%= t('menu.dashboard') %>
    </li>
  </ul>
</nav>


<table width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= User.human_attribute_name("email") %></th>
      <th class="text-center"><%= User.human_attribute_name("highscore") %></th>
      <th class="text-center"><%= User.human_attribute_name("totalPlays") %></th>
      <th><%= t('dashboard.role') %></th>
      <th class="text-center"><%= t('dashboard.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td class="text-center"><%= user.highscore %></td>
      <td class="text-center"><%= user.totalPlays %></td>
      <td><%= user.isAdmin ? t('dashboard.admin') : t('dashboard.user') %></td>
      <td class="text-center">
        <%= link_to user.isAdmin ? t('dashboard.forbid') : t('dashboard.grant'), role_change_path(id: user.id), method: :patch,
                                          data: { confirm: t('dashboard.confirm') } %> |

        <%= link_to t('dashboard.delete'), destroy_path(id: user.id), method: :delete,
                                          data: { confirm: t('dashboard.confirm') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
