<h1>Dashboard</h1>

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to t('menu.play'), root_path %></li>
    <li>
      <span class="show-for-sr"><%= t('explore.current') %>: </span> <%= t('menu.dashboard') %>
    </li>
  </ul>
</nav>


<table width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>E-Mail</th>
      <th class="text-center">High Score</th>
      <th class="text-center">Total Plays</th>
      <th>Role</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td class="text-center"><%= user.highscore %></td>
      <td class="text-center"><%= user.totalPlays %></td>
      <td><%= user.isAdmin ? "Admin" : "User" %></td>
      <td class="text-center">
        <%= link_to user.isAdmin ? "Forbid" : "Grant", role_change_path(id: user.id), method: :patch,
                                          data: { confirm: "You sure?" } %> |

        <%= link_to "Delete", destroy_path(id: user.id), method: :delete,
                                          data: { confirm: "You sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
