<table>
  <thead>
    <tr>
      <th><%= t('explore.name') %></th>
      <th><%= t('explore.flag') %></th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |name, id| %>
      <tr class="country-row" data-href="<%= country_path(id) %>">
        <td><%= name %></td>
        <td><%= image_tag(name.tr(' ', '-'), :alt => name, :class => 'flag') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
