<h1><%= @country.CountryName %> <%= image_tag(@country.CountryName.tr(' ', '-') + ".png", :alt => @country.CountryName, :class => 'flag') %></h1>

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to t('menu.play'), root_path %></li>
    <li><%= link_to t('menu.explore'), countries_path %></li>
    <li>
      <span class="show-for-sr"><%= t('explore.current') %>: </span> <%= @country.CountryName %>
    </li>
  </ul>
</nav>


<table class="hover">
  <thead>
    <tr>
      <th><%= t('explore.description') %></th>
      <th>2015 <%= t('explore.results') %></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |data| %>
      <tr>
        <td><%= data.Description %></td>
        <td><%= data.Value %> <%= data.Unit if data.Unit != "Unit" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
