<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CountriesQuiz" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title"><%= t('menu.name') %></div>
  </div>

  <div class="top-bar" id="menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text logo">Countries Quiz</li>
        <li><%= link_to t('menu.play'), root_path %></li>
        <li><%= link_to t('menu.explore'), countries_path %></li>
        <li>
          <% if user_signed_in? %>
            <a href="/"><%= current_user.name %></a>
            <ul class="menu vertical">
              <li><%= link_to t('menu.profile'), edit_user_registration_path %></li>
              <% if current_user.isAdmin? %>
              <li><%= link_to t('menu.dashboard'), dashboard_path %></li>
              <% end %>
              <li><%= link_to t('menu.logout'), destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <li><%= link_to t('menu.sign_in'), new_user_session_path %> </li>
            <li><%= link_to t('menu.sign_up'), new_user_registration_path %></li>
          <% end %>
        </li>
        <li>
          <%= form_tag(request.original_url, method: "get") do %>
            <%= select_tag("lang", options_for_select([['EN', 'en'], ['LT', 'lt']], :selected => I18n.locale), onchange: "this.form.submit();") %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <div class="row">
        <%= form_tag(countries_path, method: "get") do %>
          <li class="float-left"><%= text_field_tag :search, params[:search], placeholder: t('menu.search_placeholder') %></li>
          <li class="float-left"><%= submit_tag t('menu.search'), class: "button" %> </li>
        <% end %>
        </div>

      </ul>
    </div>
  </div>

    <div class="container">
      <% if alert %>
      <div class="callout alert-custom" data-closable>
        <%= alert %>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>

      <% if notice %>
      <div class="callout notice" data-closable>
        <p><%= notice %></p>
        <button class="close-button" aria-label="Dismiss notice" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
